//Vars
$white-imperfect:             #ECF0F1;

$primary-ui-color:            #f12b24; //#f12b24 = youtube
$secondary-ui-color:          white;
$tertiary-ui-color:           black;

$primary-background-color:    $white-imperfect;

$barColor:                    $secondary-ui-color;

$primary-font-family:         "Requiem";
$primary-font-size:           30px;
$primary-font-color:          black;

$secondary-font-family:       "SingleSleeve";
$secondary-font-size:         30px;
$secondary-font-color:        black;

$pair-button-height: 			    50px;      

$thumbnailWidth: 300px;
$thumbnailPadding: 10px;            

$border-radius: 700px;
@mixin rounded-border(){
  border-radius: $border-radius $border-radius $border-radius $border-radius;
    -moz-border-radius: $border-radius $border-radius $border-radius $border-radius;
    -webkit-border-radius: $border-radius $border-radius $border-radius $border-radius;
}

@font-face {
  font-family: 'SingleSleeve';
  src: url('../fonts/SingleSleeve/SingleSleeve.woff') format('woff'),
       url('../fonts/SingleSleeve/SingleSleeve.ttf') format('truetype'),
       url('../fonts/SingleSleeve/SingleSleeve.svg#SingleSleeve') format('svg'),
       url('../fonts/SingleSleeve/SingleSleeve.eot'),
       url('../fonts/SingleSleeve/SingleSleeve.woff2') format('woff2'),
       url('../fonts/SingleSleeve/SingleSleeve.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'Requiem';
  src: url('../fonts/Requiem/Requiem.woff') format('woff'),
       url('../fonts/Requiem/Requiem.ttf') format('truetype'),
       url('../fonts/Requiem/Requiem.svg#Requiem') format('svg'),
       url('../fonts/Requiem/Requiem.eot'),
       url('../fonts/Requiem/Requiem.woff2') format('woff2'),
       url('../fonts/Requiem/Requiem.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'SocialCircles';
  src: url('../fonts/SocialCircles/SocialCircles.eot');
  src: url('../fonts/SocialCircles/SocialCircles.woff2') format('woff2'),
       url('../fonts/SocialCircles/SocialCircles.woff') format('woff'),
       url('../fonts/SocialCircles/SocialCircles.ttf') format('truetype'),
       url('../fonts/SocialCircles/SocialCircles.svg#SocialCircles') format('svg'),
       url('../fonts/SocialCircles/SocialCircles.eot?#iefix') format('embedded-opentype');
}

@mixin primary-font-mixin() 
{
    font-family: $primary-font-family;
    font-size: $primary-font-size;
    color: $primary-font-color;
}

@mixin secondary-font-mixin() 
{
    font-family: $secondary-font-family;
    font-size: $secondary-font-size;
    color: $secondary-font-color;
}

//Mixins
@mixin primary() 
{
  	background-color: $primary-background-color;
  	@include primary-font-mixin();
}

html {
  font-size: 20px;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
		margin: 0px;
    overflow: hidden;
}

$size-animation: 0.5s;
$press-animation: 0.13s;

$button-animation-durations: 
							all $press-animation,
							left $size-animation, 
							width $size-animation, 
							height $size-animation, 
							font-size $size-animation,
              opacity 1.0s,
							box-shadow 0.5s,
							border-radius 0.5s,
							color 0.5s;

.primary-font {
  @include primary-font-mixin();
}

.secondary-font {
  @include secondary-font-mixin();
}

.animate
{
	transition: $button-animation-durations;
	-webkit-transition: $button-animation-durations;
}

.action-button
{
	opacity: 0.4;
	position: absolute;
	padding: 0px;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 150px;
	float: left;
	color: #FFF;
	text-decoration: none;
	width: 50%;
	top: 30%;
	text-align: center;	
	vertical-align: middle;
}

.blue
{
	background-color: #3498DB;
	border-bottom: $pair-button-height solid #2980B9;
	text-shadow: 0px -2px #2980B9;
	left: 25%;
	right: 25%;
}

.blue:hover{
  opacity: 1;
	-webkit-box-shadow: 0px 0px 171px -5px $primary-ui-color;
	-moz-box-shadow: 0px 0px 171px -5px $primary-ui-color;
	box-shadow: 0px 0px 171px -5px $primary-ui-color;
	@include rounded-border();
}

.action-button:active
{
	transform: translate(0px, $pair-button-height);
  -webkit-transform: translate(0px, $pair-button-height);
	border-bottom: 0px solid #2980B9;
}

$tours-navigation-height:   40px;

.tours-navigation {
  height: $tours-navigation-height; 
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: $primary-ui-color;
  z-index: 1;
}

$tourbar-animation-durations:   all 1.0s;
$tourbar-animation-easing:      ease;
$tourbar-left:                  10px;
$tourbar-point-width:           20px;
$tourbar-point-ring-width:      5px;
$tourbar-height:                5px;

.tourbar {
  transition: $tourbar-animation-durations;
  -webkit-transition: $tourbar-animation-durations;
  -webkit-transition-timing-function: $tourbar-animation-easing;
  background: $barColor;
  height: $tourbar-height;
  position: absolute;
  left: $tourbar-point-width + $tourbar-point-ring-width + 20px;
  top: ($tours-navigation-height / 2) - ($tourbar-height / 2) ;
}

.tourbar-point {
  border-radius: $tourbar-point-width;
  position: absolute;
  z-index: 3;
  display: block;
  background-color: $primary-ui-color;
  border: $secondary-ui-color solid $tourbar-point-ring-width;
  top: 0 - ($tourbar-point-width / 2) - ($tourbar-height / 2);
  height: $tourbar-point-width;
  width: $tourbar-point-width;
  
  $transition: all 0.1s linear;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
  cursor: pointer;
  
  &:hover {
    $size: 1.5;
    -webkit-transform: scale($size);
    -moz-transform: scale($size);
    -ms-transform: scale($size);    
    -o-transform: scale($size);        
    transform: scale($size);
  }
}

.tourbarpointactive {
  background: $secondary-ui-color;
}

.start-video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

$outline-width: 4px;

.main-video-player-div {
  outline: $outline-width solid $primary-ui-color;
  position: absolute;
  background-color: #000;
  top: 10%;
  left: 5px;
  height: 80%;
  width: 2px;
}

.main-video-player {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.videothumb {
  -webkit-box-shadow: 0px 0px 0px $outline-width $primary-ui-color;
  -moz-box-shadow: 0px 0px 0px $outline-width $primary-ui-color;
  box-shadow: 0px 0px 0px $outline-width $primary-ui-color;
  position: absolute;
  left: -100%;
  top: -100%;
  background-color: white;
  text-align: center;
  opacity: 0;
}

$triangleWeight: 30px;

.videothumbBorder::after, 
.videothumbBorder::before,
 {
  border: solid transparent;
  content: "";
  position: absolute;
  top: - $triangleWeight * 2;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  margin: 0 auto;
}

.videothumbBorder::before, {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: $primary-ui-color;
  border-width: $triangleWeight;
}
    
.videothumbBorder::after, {
  border-color: rgba(113, 158, 206, 0);
  border-bottom-color: white;
  border-width: $triangleWeight + ($outline-width * 1.5);
}

.videothumbtitle {
  @include primary-font-mixin();
  margin: auto;
  margin-top: 10px;
  text-align: center;
  width: $thumbnailWidth;
}

.videothumbnail {
  width: $thumbnailWidth;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
}



.LLLProgressOverlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: $white-imperfect;
  opacity: 1;
  z-index: 9999;
}

.LLLProgressbar {
    border: 20px solid $primary-ui-color;
    background-color: $primary-ui-color;
    @include rounded-border();
    position: absolute;
    width: 70%;
    left: 15%;
    top: 43%;
    height: 14%;
    opacity: 1;
    overflow: hidden;
}

.LLLProgress {
  position:absolute;
  left:0px;
  top:0px;
  height: 100%;
  width: 0%;
  background-color: white;
  @include rounded-border();
  padding: 0px;
}

.keyboardHandler {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

$share-panel-height: 140px;
$share-panel-animation-durations: all 1.0s;
$share-panel-animation-easing: ease;
$share-panel-button-animation-durations: all 0.5s;
$share-panel-button-animation-easing: ease;
$share-panel-button-height: 40px;

#share-panel {
  transition: $share-panel-animation-durations;
  -webkit-transition: $share-panel-animation-durations;
  -webkit-transition-timing-function: $share-panel-animation-easing;
  width: 100%;
  height: 500px;
  position: absolute;
  left: 0px;
  text-align: center;
  bottom: -1 * ($share-panel-height - $share-panel-button-height);
  background-color: $secondary-ui-color;
  -webkit-box-shadow: 0px 0px 0px $outline-width $primary-ui-color;
  -moz-box-shadow: 0px 0px 0px $outline-width $primary-ui-color;
  box-shadow: 0px 0px 0px $outline-width $primary-ui-color; 
}

.share-panel-out {
  bottom: 0px !important;
}

#share-panel-button {
   transition: $share-panel-button-animation-durations;
  -webkit-transition: $share-panel-button-animation-durations;
  -webkit-transition-timing-function: $share-panel-button-animation-easing;
  transition-timing-function: $share-panel-button-animation-easing;
  cursor: pointer;
  position: absolute;
  left: 46%;
  top: -1 * $share-panel-button-height - $outline-width;
  width: 8%;
  height: $share-panel-button-height;
  line-height: $share-panel-button-height;
  font-family: $primary-font-family;
  font-size:  $primary-font-size;
  font-weight: 900;
  text-align: center;
  background-color: $primary-ui-color;
  -webkit-box-shadow: 0px 0px 0px $outline-width $primary-ui-color;
  -moz-box-shadow: 0px 0px 0px $outline-width $primary-ui-color;
  box-shadow: 0px 0px 0px $outline-width $primary-ui-color; 

  &:hover #background {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }

  &:hover #label {
    color: $primary-ui-color;
  }
}

#share-panel-button #background {
  transition: $share-panel-button-animation-durations;
  -webkit-transition: $share-panel-button-animation-durations;
  -webkit-transition-timing-function: $share-panel-button-animation-easing;
  transition-timing-function: $share-panel-button-animation-easing;
  background-color: $secondary-ui-color;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0%;
  height: 0%;
}

#share-panel-button #label {
  -webkit-transition-timing-function: $share-panel-button-animation-easing;
  transition-timing-function: $share-panel-button-animation-easing;
  transition: $share-panel-button-animation-durations;
  -webkit-transition: $share-panel-button-animation-durations;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  color: $secondary-ui-color;
}

$share-button-animation-durations: all 0.3s;
$share-button-animation-easing: ease;

.share-button {
  -webkit-transition-timing-function: $share-button-animation-easing;
  transition-timing-function: $share-button-animation-easing;
  transition: $share-button-animation-durations;
  -webkit-transition: $share-button-animation-durations;
  display:inline-block;
  margin: 10px;
  font-family: "SocialCircles";
  font-size: 150px;

  &:hover {
    font-weight: bold;
  }
}

.twitter {
  color: #55acee;
}

.facebook {
  color: #3b5998;
}

.google {
  color: #d34836;
}



// NAV FILLPATH //

.nav-fillpath a.prev {
  left: -50px;
}

.nav-fillpath a.next {
  right: -50px;
}

.nav-fillpath a {
  position: absolute;
  top: 47.5%;
  display: block;
  outline: none;
  text-align: left;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

.nav-fillpath-big {
  width: 200px;
  height: 200px;
}

.nav-fillpath a::before,
.nav-fillpath a::after,
.nav-fillpath .icon-wrap::before,
.nav-fillpath .icon-wrap::after {
  position: absolute;
  left: 50%;
  width: 10px;
  height: 50%;
  background: $primary-ui-color;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.nav-fillpath .icon-wrap::before,
.nav-fillpath .icon-wrap::after {
  z-index: 100;
  height: 0;
  background: $secondary-ui-color;
  -webkit-transition: height 0.3s, -webkit-transform 0.3s;
  transition: height 0.3s, transform 0.3s;
}

.nav-fillpath a::before,
.nav-fillpath .icon-wrap::before {
  top: 50%;
  -webkit-transform: translateX(-50%) rotate(-135deg);
  transform: translateX(-50%) rotate(-135deg);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.nav-fillpath a.next::before,
.nav-fillpath a.next .icon-wrap::before {
  -webkit-transform: translateX(-50%) rotate(135deg);
  transform: translateX(-50%) rotate(135deg);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.nav-fillpath a::after,
.nav-fillpath .icon-wrap::after {
  top: 50%;
  -webkit-transform: translateX(-50%) rotate(-45deg);
  transform: translateX(-50%) rotate(-45deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.nav-fillpath a.next::after,
.nav-fillpath a.next .icon-wrap::after {
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}

.nav-fillpath h3 {
  position: absolute;
  top: 50%;
  margin: 0;
  color: $tertiary-ui-color;
  font-weight: 300;
  font-size: 50px;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.nav-fillpath a.prev h3 {
  left: 100%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.nav-fillpath a.next h3 {
  right: 100%;
  text-align: right;
  -webkit-transform: translateY(-50%) translateX(50%);
  transform: translateY(-50%) translateX(50%);
}

.nav-fillpath a:hover .icon-wrap::before,
.nav-fillpath a:hover .icon-wrap::after {
  height: 50%;
}

.nav-fillpath a:hover::before,
.nav-fillpath a:hover .icon-wrap::before {
  -webkit-transform: translateX(-50%) rotate(-125deg);
  transform: translateX(-50%) rotate(-125deg);
}

.nav-fillpath a.next:hover::before,
.nav-fillpath a.next:hover .icon-wrap::before {
  -webkit-transform: translateX(-50%) rotate(125deg);
  transform: translateX(-50%) rotate(125deg);
}

.nav-fillpath a:hover::after,
.nav-fillpath a:hover .icon-wrap::after {
  -webkit-transform: translateX(-50%) rotate(-55deg);
  transform: translateX(-50%) rotate(-55deg);
}

.nav-fillpath a.next:hover::after,
.nav-fillpath a.next:hover .icon-wrap::after {
  -webkit-transform: translateX(-50%) rotate(55deg);
  transform: translateX(-50%) rotate(55deg);
}

.nav-fillpath a:hover h3 {
  opacity: 1;
  -webkit-transform: translateY(-50%) translateX(0);
  transform: translateY(-50%) translateX(0);
}