<div ui-view>
    <div class="nyancontainer">
        <div class="nyancat">
            <img src="images/nyan.gif" class="nyancatImage">
            <div class="rainbow">
                <div class="red">You You You You You You You You You You You You You You You 
                </div>
                <div class="orange">Found Found Found Found Found Found Found Found Found Found Found Found Found Found Found </div>
                <div class="yellow">A A A A A A A A A A A A A A A </div>
                <div class="green">Cool Cool Cool Cool Cool Cool Cool Cool Cool Cool Cool Cool Cool Cool Cool </div>
                <div class="blue">Easter Easter Easter Easter Easter Easter Easter Easter Easter Easter Easter Easter Easter Easter Easter </div>
                <div class="purple">Egg! Egg! Egg! Egg! Egg! Egg! Egg! Egg! Egg! Egg! Egg! Egg! Egg! Egg! Egg! </div>
            </div>
        </div>


        <span class="star"></span>




        <div class="bg"></div>
        <a id="start-button" ng-mouseup="startButton();">Start</a>
        <a class="speaker" ng-mousedown="mute();">
          <span></span>
        </a>

        <audio class="nahnah" src="http://files.simey.me/nyan.mp3">
    </div>
</div>