<div ui-view>
	<div id="keyboardHandler" class="keyboardHandler">
		<div class="tours-navigation">
			<div class="tourbar">
				<div 	ng-repeat="video in videos track by video.id" class="tourbar-point" 
						ng-click="select_video(video);"
						ng-mouseover="tourbar_point_hover(video)" 
						ng-mouseleave="tourbar_point_hover_out(video)"
						ng-attr-id="tourbar-point-{{video.id }}"
						ng-class="{tourbarpointactive: video.id == currentVideo.id}"
						on-last-repeat>
				</div>
			</div>
		</div>
		<nav class="nav-fillpath">
			<a ng-click="previous();" class="prev nav-fillpath-big">
				<span class="icon-wrap"></span>
				<h3 class="secondary-font ">Previous</h3>
			</a>
			<a ng-click="next();" class="next nav-fillpath-big">
				<span class="icon-wrap"></span>
				<h3 class="secondary-font">Next</h3>
			</a>
		</nav>
		<div id="mainVPdiv" class="main-video-player-div">
			<youtube-video 	id="mainVP" 
							class="main-video-player" 
							video-id="currentVideo.embed"
							player-vars="youtube_options"></youtube-video>
		</div>
		</div>
		<div class="videothumb videothumbBorder" data-content="0">
	  		<div class="videothumbtitle"></div>
	  		<img class="videothumbnail" />
	  	</div>
	  	<div id="share-panel" class="">
	  		<div id="share-panel-button"
	  			 ng-click="share_button_click();">
		  		<div id="label">Share</div>
		  		<span id="background"></span>
		  	</div>
		  	<div class="share-button-container">
			  	<a ng-href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2F127.0.0.1%3A8080%2F&ref_src=twsrc%5Etfw&text=Lololol%20%5E-%5E&tw_p=tweetbutton&url=http%3A%2F%2F127.0.0.1%3A8080%2F%23%2Ftour%3Fvideo%3D{{currentVideo.id}}" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>
				<a ng-href="https://www.facebook.com/sharer/sharer.php?app_id=113869198637480&sdk=joey&u=http%3A%2F%2Fwww.localhost%3A8080%2F%23%2Ftour&display=popup&ref=plugin&src=share_button" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
				
				<a href="http://plus.google.com" class="icon-button google-plus" ><i class="icon-google-plus"></i><span></span></a>
			</div>
	  	</div>
  	</div>
</div>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>